<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Day Travel</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <header>
      <h2>Day Travel</h2>
    </header>
    <% if(locals.error) {%>
        <h1>
            <%= error %>
        </h1>
    <%}%> 
    <div class="container">

    
    <% events.forEach((event)=>{ %> 
        <div>
            <p><%= event.description %></p>
        </div>
    <% }) %>
    </div>
    <footer>
      <p>Copyright &copy; <%= new Date().getFullYear() %>  || Sidharth G</p>
    </footer>
  </body>
</html>
